Summary:        $summary
Name:           opkg-$name
Version:        $version('upstream')
Release:        $version('release')
License: 	$license
Group:          $group
Distribution:   OSCAR
Vendor:         Open Cluster Group <http://oscar.openclustergroup.org/>
Packager:       $authors('maintainer')
BuildRoot:      %{_builddir}/%{name}
$archFilters#slurp
%description
$description

$depends('apiDeps', 'requires')$depends('apiDeps', 'conflicts')$depends('apiDeps', 'provides')#slurp

%package server
Group:          $group
Summary:        $summary, server part
%description server
$description 
This is the server part of $name.

$depends('serverDeps', 'requires')$depends('serverDeps', 'conflicts')$depends('serverDeps', 'provides')#slurp

%package client
Group:          $group
Summary:        $summary, client part
%description client
$description 
This is the client part of $name.

$depends('clientDeps', 'requires')$depends('clientDeps', 'conflicts')$depends('clientDeps', 'provides')#slurp

%files server
%defattr(-,root,root)
#for $f in $filelist('server')
$f
#end for

%files client
%defattr(-,root,root)
#for $f in $filelist('client')
$f
#end for

%files
%defattr(-,root,root)
#for $f in $filelist
$f
#end for

$scripts

