Summary:        $node('/summary')
Name:           opkg-$name
Version:        $version('upstream')
Release:        $version('release')
Copyright: 	$node('/license')
Group:          $node('/group')
Source:         %{name}.tar.gz
Distribution:   OSCAR
Vendor:         Open Cluster Group <http://OSCAR.OpenClusterGroup.org/>
Packager:       $authors('maintainer')
BuildArch:      noarch

%description
$description

BuildRoot:      %{_localstatedir}/tmp/%{name}-root

%package -api
$depends('apiDeps', 'requires')$depends('apiDeps', 'conflicts')$depends('apiDeps', 'provides')#slurp

%package -server
Summary:        $node('summary'), server part
$depends('serverDeps', 'requires')$depends('serverDeps', 'conflicts')$depends('serverDeps', 'provides')#slurp

%package -client
Summary:        $node('summary'), client part
$depends('clientDeps', 'requires')$depends('clientDeps', 'conflicts')$depends('clientDeps', 'provides')#slurp

%prep
%setup -n %{name}

%files api
%defattr(-,root,root)
