Summary:        $summary
Name:           opkg-$name
Version:        $version('upstream')
Release:        $version('release')
License: 	$license
Group:          $group
Distribution:   OSCAR
Vendor:         Open Cluster Group <http://oscar.openclustergroup.org/>
Packager:       $authors('maintainer')
BuildRoot:      %{_builddir}/%{name}
BuildArch:	noarch
$exclusiveArch#slurp
$depends('apiDeps', 'requires')$depends('apiDeps', 'conflicts')$depends('apiDeps', 'provides')#slurp
%define is_fc   %(test -e /etc/fedora-release && echo 1 || echo 0)
%define is_rh   %(test -e /etc/redhat-release && echo 1 || echo 0)
%define is_mdk  %(test -e /etc/mandrake-release && echo 1 || echo 0)
%define is_suse %(test -e /etc/SuSE-release && echo 1 || echo 0)

%if %{is_fc}
%define vtag %(sed -e 's/^.*release //' -e 's/ .*$//' -e 's/\\./_/g' < /etc/fedora-release)
%endif

%if %{is_rh}
%define vtag %(sed -e 's/^.*release //' -e 's/ .*$//' -e 's/\\./_/g' < /etc/redhat-release)
%endif


%description
$description

%package server
Group:          $group
Summary:        $summary, server part
$depends('serverDeps', 'requires')$depends('serverDeps', 'conflicts')$depends('serverDeps', 'provides')#slurp
%description server
$description 
This is the server part of $name.

%package client
Group:          $group
Summary:        $summary, client part
$depends('clientDeps', 'requires')$depends('clientDeps', 'conflicts')$depends('clientDeps', 'provides')#slurp
%description client
$description 
This is the client part of $name.

%files server
%defattr(-,root,root)
#for $f in $filelist('server')
$f
#end for

%files client
%defattr(-,root,root)
#for $f in $filelist('client')
$f
#end for

%files
%defattr(-,root,root)
#for $f in $filelist
$f
#end for

$scripts
