#for $versionEntry in $changelog
opkg-$name (${versionEntry.version}) unstable; urgency=low

#for $log in $versionEntry.centries
  [$log.name]
#for $item in $log.items
  - $item
#end for
#for $bug in $log.closes
  - Closes: Bug\#$bug
#end for
#end for

 -- $uploader(versionEntry)

#end for
